body {
margin: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0; /* Um fundo cinza claro ajuda a ver os cards brancos */

    
}
#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}




.card-two, .card-one {
    background-color: rgb(255, 255, 255);
    max-width: 350px;

    padding: 40px 30px;
    border-radius: 20px;

    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.Contato {
    background-color:rgb(255, 255, 255);
    width: 70%;
    max-width: 800px;
    margin: 60px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px #ffffff;
}

a img{
    width: 40px;
    height: 40px;
}

.imagem-two {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

